.contact{
    display: flex;
    align-items: center;
    flex-direction: column;

    h1{
        margin-bottom: 3rem;
        font-size: 55px;
    }

    .contact-box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 700px;
        height: 120px;
        border: 1px solid #323946;
        border-radius: 50px;

        div{
            margin: 1rem;

            a{
                text-decoration: none;
                font-size: 35px;
                font-family: Poppins;
                color: white;
                margin-left: .5rem;
            }

            a:hover{
                color: aquamarine;
                border-bottom: 1px solid aquamarine;
                transition: 0.5s ease;
            }
        }
    }
}

.foot{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #323946;

    p{
        color: white;
        font-family: Poppins;
        font-size: 13px;
        margin: 2rem;
    }

    a{
        border: 1px solid #1f242d;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }

    a:hover{
        background-color: #1f242d;
        transition: 0.5s ease;
    }
}