.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #323946;
    height: 100vh;
    
    .heading{
        font-size: 2.5rem;
        color: white;
    }

    img{
        border: 2px solid #1f242d;
        border-radius: 50%;
    }

    .about-content{
        color: white;
        font-family: Poppins;

        h3{
            color: black;
        }

        p{
            font-size: 19px;
            margin: 2rem;
        }

        a{
            margin-left: 2rem;
        }
    }

    .about-content h2,h3{
        margin-left: 2rem;
    }

}

@media screen and (max-width: 600px){
    .about{
        flex-direction: column;

        h3, span, h2{
            font-size: 20px !important;
        }

        p{
            font-size: 13px !important;
            margin: 1rem !important;
        }

        img{
            width: 170px !important;
        }
    }

}