.skills{
    height: 100vh;

    .skills-details-container{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .titulo{
            font-size: 3rem;
            text-align: center;
        }

        .about-containers{
            display: flex;
            justify-content: center;
            flex-direction: row;

            .details-containers{
                width: 400px;
                margin: 1rem;
                padding: 1rem 2.9rem 1rem;
                flex: 1;
                border-radius: 2rem;
                border: 2px solid  #323946;
                text-align: center;
                cursor:default;

                .habilidades-sub-titulo{
                    color: white;
                    margin-bottom: 1rem;
                }

                .article-container{
                    display: flex;
                    text-align: initial;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 2.5rem;
                    justify-content: space-around;

                    article{
                        display: flex;
                        width: 5rem;
                        justify-content: space-around;
                        gap: 0.5rem;
                        font-family: Poppins;

                        .icon{
                            width: 50px;
                        }

                        h3{
                            color: white;
                            font-size: 23px;
                        }
                        
                        p{
                            font-size: 15px;
                        }
                    }
                }

            }


        }
    } 
}

@media screen and (max-width: 600px){
    .titulo{
        font-size: 30px !important;
        span{
            font-size: 30px !important;
        }
    }
    .about-containers{
        display: flex;
        flex-direction: column !important;

        .details-containers{
            width: 300px !important;
            margin: 0.2rem !important;
            padding: 0rem 2rem 0rem !important;

            .habilidades-sub-titulo{
                font-size: 25px;
            }

            .article-container{
                gap: 0 !important;


                article{
                    gap: 0 !important;

                    h3{
                        font-size: 15px !important;
                        margin-left: 0.5rem;
                    } 
            
                    p{
                        font-size: 10px !important;
                    }
            
                    .icon{
                        width: 45px !important;
                        margin-right: 0 !important;
                    }
                }
            }
        }

    }

}