#skills{
    height: 100vh;
    background-color: #1f242d;
    align-content: center;

    .tituloskills{
        color: white;
        font-family: Poppins;
        font-size: 30px;
        text-align: center;
        margin-bottom: 2rem;
    }

    span{
        color: aquamarine;
        font-size: 32px;
    }
    
    .about-containers{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
        gap: 10px;
        margin: 1rem;

        .details-containers{
            width: auto;
            border-radius: 2rem;
            border: 2px solid  #323946;
            text-align: center;

            .habilidades-sub-titulo{
                color: white;
                margin: 0.5rem;
            }
    
            .article-container{
                display: grid;
                grid-template-columns:repeat(auto-fill, minmax(109px, 1fr));
                place-items: center;
                padding: 1rem;
            
                article{
                    display: grid;
                    grid-template-columns:1fr 1fr;
                    place-items: center;
                    font-family: Poppins;

                    .icon{
                        width: 45px;
                    }
    
                    h3{
                        color: white;
                        font-size: 15px !important;
                        }
                        
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}